<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#fed300" />
  <title>Geeks Logistics || Logistics Shipping Company</title>
  <meta name="author" content="Genesis Krane">
  <meta name="description" content="For all kind of delivery and shipping company website">
  <meta name="keywords"
    content="logistic, shipping, cargo, delivery, transportation, truck, service, solutions, importing, exporting, trade, product, move, calculate, cost, ecommerce">

  <!-- SOCIAL MEDIA META -->
  <meta property="og:description" content="Geeks Logistics || Logistics Shipping Company">
  <meta property="og:image" content="https://geeklogisticsinc.com/preview.png">
  <meta property="og:site_name" content="Geeks Logistics">
  <meta property="og:title" content="Geeks Logistics">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://geeklogisticsinc.com/">

  <!-- TWITTER META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Geeks Logistics">
  <meta name="twitter:creator" content="@Geeks Logistics">
  <meta name="twitter:title" content="Geeks Logistics">
  <meta name="twitter:description" content="Geeks Logistics| Logistics Shipping Company">
  <meta name="twitter:image" content="https://geeklogisticsinc.com/preview.png">

  <!-- FAVICON FILES -->
  <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
  <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
  <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
  <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
  <link href="ico/favicon.png" rel="shortcut icon">

  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/lineicons.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/odometer.min.css">
  <link rel="stylesheet" href="css/fancybox.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="js/vue.js"></script>

  <script src="js/axios.min.js"></script>
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper" @click="$emit('close')">
            <div class="modal-container" @click.stop>

             

              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>

            
            </div>
          </div>
        </div>
      </transition>
    </script>
</head>

<body>
  <div class="preloader"> <img src="images/preloader.png" alt="Image"> </div>
  <!-- end preloader -->
  <div class="page-transition"></div>
  <!-- end page-transition -->
  <aside class="side-widget">
    <div class="inner">
      <div class="logo"> <a href="index.html"><img src="images/logo.png" srcset="images/logo@2x.png" alt="Image"></a>
      </div>
      <!-- end logo -->
      <div class="hide-mobile">
        <p>Take the complexity out of customs Freight Solutions with customs brokerage services</p>
        <figure class="gallery"><a href="images/recent-news01.jpg" data-fancybox><img src="images/recent-news01.jpg"
              alt="Image"></a><a href="images/recent-news02.jpg" data-fancybox><img src="images/recent-news02.jpg"
              alt="Image"></a></figure>
        <h6 class="widget-title">CONTACT INFO</h6>
        <address class="address">
          <p><br>
            <a href="mailto:support@geeklogisticsinc.com">support@geeklogisticsinc.com</a>
          </p>
        </address>
        <h6 class="widget-title">FOLLOW US</h6>
        <ul class="social-media">
          <li><a href="https://www.instagram.com/geekslogistics_ng/"><i class="lni lni-instagram"></i></a></li>
        </ul>
      </div>
      <!-- end hide-mobile -->
      <!-- end custom-menu -->
      <div class="site-menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- end site-menu -->
    </div>
    <!-- end show-mobile -->
    <small>© 2021 Geeks Logistics| Logistics Shipping Company</small>
    </div>
    <!-- end inner -->
  </aside>
  <!-- end side-widget -->
  <div class="topbar">
    <div class="container">

      <!-- end phone -->
      <div class="email"> Email: <a href="mailto:support@geeklogisticsinc.com">support@geeklogisticsinc.com</a> </div>
      <!-- end email -->
      <div class="social-media"> <span>Follow us</span>
        <ul>
          <li><a href="https://www.instagram.com/geekslogistics_ng/" target="_blank"><i
                class="lni lni-instagram-original"></i>
              <span>Instagram</span></a></li>
        </ul>
      </div>
      <!-- end social-media -->
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->
  <nav class="navbar">
    <div class="container">
      <div class="inner">
        <div class="logo"> <a href="index.html"> <img src="images/logo.png" srcset="images/logo@2x.png" alt="Image">
          </a> </div>
        <!-- end logo -->

        <!-- end custom-menu -->
        <div class="site-menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <!-- end site-menu -->
        <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        <!-- end hamburger-menu -->
        <div class="navbar-button"> <a href="#track">TRACK</a> </div>
        <!-- end navbar-button -->
      </div>
      <!-- end inner -->
    </div>
    <!-- end container -->
  </nav>
  <!-- end navbar -->
  <header class="slider">
    <div class="main-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-image" data-background="images/slide01.jpg"></div>
          <!-- end slide-image -->
          <div class="container">
            <h1>Transport & <br>
              Logistics</h1>
            <p>Super Fast and Safe Deliveries across the Globe </p>
            <a href="#quote">Get A Quote</a>
          </div>
          <!-- end container -->
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="slide-image" data-background="images/slide02.jpg"></div>
          <!-- end slide-image -->
          <div class="container">
            <h1>Quickest & Safe <br>
              Delivery</h1>
            <p>Managed Transportation Solution</p>
            <a href="#quote">Get A Quote</a>
          </div>
          <!-- end container -->
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="slide-image" data-background="images/slide03.jpg"></div>
          <!-- end slide-image -->
          <div class="container">
            <h1>Always <br>
              Trustable</h1>
            <p>You Need It? We Move It</p>
            <a href="contact.html">Contact Us</a>
          </div>
          <!-- end container -->
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper -->
      <div class="controls">
        <div class="button-prev"><i class="lni lni-chevron-left"></i>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60"
            height="60" viewBox="0 0 30 30" xml:space="preserve">
            <circle fill="none" stroke="#fff" stroke-width="1" cx="15" cy="15" r="15"></circle>
          </svg>
        </div>
        <!-- end button-prev -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
        <div class="button-next"><i class="lni lni-chevron-right"></i>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60"
            height="60" viewBox="0 0 30 30" xml:space="preserve">
            <circle fill="none" stroke="#fff" stroke-width="1" cx="15" cy="15" r="15"></circle>
          </svg>
        </div>
        <!-- end button-next -->
      </div>
      <!-- end controls -->
    </div>
    <!-- end main-slider -->
  </header>
  <!-- end slider -->
  <div class="section-note">
    <div class="container">
      <h6>Geeks Logistics is one of the leading shipping, freight and logistics company delivering world-class services
        to our numerous customers.</h6>
    </div>
    <!-- end container -->
  </div>
  <!-- end section-note -->
  <section class="content-section no-top-spacing" id="app">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <figure class="video-thumb"> <img src="images/video-thumb.jpg" alt="Image"> <a href="videos/video01.mp4"
              data-fancybox>Play Button</a> </figure>
          <!-- end video-thumb -->
        </div>
        <!-- end col-5 -->
        <div class="col-lg-7">
          <div id="track" class="track-shipping-form">
            <div class="inner">
              <h3>Track your shipment</h3>


              <div class="form-group">
                <input type="text" placeholder="Shipping Number" v-model="trackid">
              </div>
              <div class="form-group">
                <button type="submit" @click="showModal = true; gon()"><i class="lni lni-search-alt"></i>
                  SEARCH</button>
                <modal v-if="showModal" @close="showModal = false">
                  <!--
      you can use custom content here to overwrite
      default content
    -->
                  <div slot="body">
                    <div v-if="TrackidTrue" class="dt">
                      <table style="width: 100%">
                        <thead>
                          <tr>
                            <th colspan="2" class="font-weight-bold text-title text-uppercase">shippers information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-if="chunk.details.senderName">
                            <td>Name:</td>
                            <td>{{ chunk.details.senderName }}</td>
                          </tr>
                          <tr v-if="chunk.details.senderEmail">
                            <td>Email:</td>
                            <td>{{ chunk.details.senderEmail }}</td>
                          </tr>
                        </tbody>

                      </table>
                      <table style="width: 100%">
                        <thead>
                          <tr>
                            <th colspan="2" class="font-weight-bold text-title text-uppercase"> reciever's information
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-if="chunk.details.receiverName">
                            <td>Name:</td>
                            <td>{{ chunk.details.receiverName }}</td>
                          </tr>
                          <tr v-if="chunk.details.receiverAddress">
                            <td>Address:</td>
                            <td>
                              {{ chunk.details.receiverAddress }}
                            </td>
                          </tr>
                          <tr v-if="chunk.details.receiverPhone">
                            <td>Phone:</td>
                            <td>{{ chunk.details.receiverPhone }}</td>
                          </tr>
                          <tr v-if="chunk.details.receiverEmail">
                            <td>Email:</td>
                            <td>{{ chunk.details.receiverEmail }}</td>
                          </tr>
                        </tbody>

                      </table>
                      <table style="width: 100%">
                        <thead>
                          <tr>
                            <th colspan="2" class="font-weight-bold text-title text-uppercase"> Package information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-if=" chunk.details.origin">
                            <td>Origin:</td>
                            <td>{{ chunk.details.origin }}</td>
                          </tr>
                          <tr v-if=" chunk.details.description ">
                            <td>Description:</td>
                            <td>{{ chunk.details.description }}</td>
                          </tr>
                          <tr v-if="chunk.details.destination ">
                            <td>Destination:</td>
                            <td>{{ chunk.details.destination }}</td>
                          </tr>
                          <tr v-if=" chunk.details.weight ">
                            <td>Weight:</td>
                            <td>{{ chunk.details.weight }}</td>
                          </tr>
                          <tr v-if="chunk.details.refNum">
                            <td>Reference Number:</td>
                            <td>{{ chunk.details.refNum }}</td>
                          </tr>
                          <tr v-if="dateConverter(chunk.details.sentDate) !== 'Invalid date'">
                            <td>Delivery Date:</td>
                            <td>
                              {{
                              dateConverter(chunk.details.sentDate)
                              }}
                            </td>
                          </tr>
                          <tr v-if="timeConverter(chunk.details.sentDate) !== 'Invalid date'">
                            <td>Pick Up Time:</td>
                            <td>
                              {{
                              timeConverter(chunk.details.sentDate)
                              }}
                            </td>
                          </tr>
                        </tbody>

                      </table>
                      <table style="width: 100%" v-if="chunk.history.length !== 0">
                        <thead>
                          <tr>
                            <th colspan="2" class="font-weight-bold text-title text-uppercase">History</th>
                          </tr>
                        </thead>
                        <tbody v-for="(history, i) in chunk.history" :key="i">
                          <tr v-if="fullDateTime(history.dateTime) !== 'Invalid date'">
                            <td>Date And Time:</td>
                            <td>
                              {{ fullDateTime(history.dateTime) }}
                            </td>
                          </tr>
                          <tr v-if="history.location">
                            <td>Location:</td>
                            <td>{{ history.location }}</td>
                          </tr>
                          <tr v-if="history.status">
                            <td>Status:</td>
                            <td>{{ history.status }}</td>
                          </tr>



                        </tbody>

                      </table>
                    </div>
                    <div v-if="notTrackid">
                      <h1 class="err-text">Track Id Not Found</h1>
                    </div>
                    <div v-if="NetworkError">
                      <h1>You Seem To Be Offline</h1>
                    </div>
                    <div v-if="trackidEmpty">
                      <h1>Track Id Is Empty</h1>
                    </div>

                  </div>
                </modal>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-section ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="side-content">
            <h2>Welcome to Geeks Logistics - your Transport and Logistics provider.</h2>
            <p>At Geeks Logistics, our approach to courier services is unique. Our Courier Franchisees offer a cost
              effective, reliable, timetable courier service, backed up by the latest computer technology and online
              parcel track and trace facilities, making Geeks Logistics the ideal choice for individual consumers, small
              to medium sized businesses as well as leading international e-tailers.</p>
            <a href="#services" class="custom-button">Discover All Solutions</a>
          </div>
          <!-- end side-content -->
        </div>
        <!-- end col-7 -->
        <div class="col-lg-5">
          <figure class="side-image"> <img src="images/side-image01.jpg" alt="Image"> </figure>
          <!-- end side-image -->
        </div>
        <!-- end col-5 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->
  <!-- end content-section -->
  <section id="services" class="content-section no-spacing">
    <div class="tab-content">
      <ul class="tab-nav">
        <li class="active"><a href="#tab01">Air Freight</a></li>
        <li><a href="#tab02">Courier Services</a></li>
        <li><a href="#tab03">Clearing & Forwarding</a></li>
        <li><a href="#tab04">Sea Freight</a></li>
        <li><a href="#tab05">Shop-For-You Service</a></li>
      </ul>
      <div id="tab01" class="tab-item active-item">
        <div class="tab-inner">
          <figure><img src="images/tab-image01.jpg" alt="Image"></figure>
          <div class="content">
            <h3>Air Freight</h3>
            <p>
              Geeks Logistics Air Freight services are ideal for larger shipments that may or may not require a pallet.
              In some
              cases, you can include other services, such as pickup, collection, delivery and customs clearance for
              convenient shipping.
            </p>
            <p>Combine speed, flexibility, and value with our global airport-to-airport service available worldwide.
              Send and receive freight worldwide, it's ideal for shipments over 150 pounds. With convenient and easy
              shipment processing for palletized and non-palletized freight. Optional services include pickup, delivery,
              and customs clearance.
            </p>
          </div>
          <!-- end content -->
        </div>
        <!-- end tab-inner -->
      </div>
      <!-- end tab01 -->
      <div id="tab02" class="tab-item">
        <div class="tab-inner">
          <figure><img src="images/tab-image02.jpg" alt="Image"></figure>
          <div class="content">
            <h3>Courier Services</h3>
            <p>The retail industry is not only shaped by the quality
              of services and goods, but also by economic trends
              that are beyond an organization's control. In order to
              maximize shareholder value, retailers constantly
              endeavor to optimize their service and the flow of
              goods from the supply chain to the store. </p>
            <p> Such dynamic optimization cannot be realized
              without proactive handling of accurate data.</p>
          </div>
          <!-- end content -->
        </div>
        <!-- end tab-inner -->
      </div>
      <!-- end tab02 -->
      <div id="tab03" class="tab-item">
        <div class="tab-inner">
          <figure><img src="images/tab-image03.jpg" alt="Image"></figure>
          <div class="content">
            <h3>Clearing & Forwarding</h3>
            <p>The retail industry is not only shaped by the quality
              of services and goods, but also by economic trends
              that are beyond an organization's control. In order to
              maximize shareholder value, retailers constantly
              endeavor to optimize their service and the flow of
              goods from the supply chain to the store. </p>
            <p> Such dynamic optimization cannot be realized
              without proactive handling of accurate data.</p>
          </div>
          <!-- end content -->
        </div>
        <!-- end tab-inner -->
      </div>
      <!-- end tab03 -->
      <div id="tab04" class="tab-item">
        <div class="tab-inner">
          <figure><img src="images/tab-image04.jpg" alt="Image"></figure>
          <div class="content">
            <h3>Sea Freight</h3>
            <p>The retail industry is not only shaped by the quality
              of services and goods, but also by economic trends
              that are beyond an organization's control. In order to
              maximize shareholder value, retailers constantly
              endeavor to optimize their service and the flow of
              goods from the supply chain to the store. </p>
            <p> Such dynamic optimization cannot be realized
              without proactive handling of accurate data.</p>
          </div>
          <!-- end content -->
        </div>
        <!-- end tab-inner -->
      </div>
      <!-- end tab04 -->
      <div id="tab05" class="tab-item">
        <div class="tab-inner">
          <figure><img src="images/tab-image05.jpg" alt="Image"></figure>
          <div class="content">
            <h3>Shop-For-You Service</h3>
            <p>The retail industry is not only shaped by the quality
              of services and goods, but also by economic trends
              that are beyond an organization's control. In order to
              maximize shareholder value, retailers constantly
              endeavor to optimize their service and the flow of
              goods from the supply chain to the store. </p>
            <p> Such dynamic optimization cannot be realized
              without proactive handling of accurate data.</p>
          </div>
          <!-- end content -->
        </div>
        <!-- end tab-inner -->
      </div>
      <!-- end tab05 -->

    </div>
    <!-- end tab-content -->
  </section>
  <section class="content-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6">
          <div class="counter-box"> <span class="odometer" data-count="60" data-status="yes">0</span>
            <h6>Employees</h6>
          </div>
          <!-- end counter-box -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 col-md-6">
          <div class="counter-box"> <span class="odometer" data-count="35" data-status="yes">0</span>
            <h6>Countries
              Worldwide</h6>
          </div>
          <!-- end counter-box -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 col-md-6">
          <div class="counter-box"> <span class="odometer" data-count="12" data-status="yes">0</span><span
              class="symbol">K</span>
            <h6>sq.ft of
              warehousing</h6>
          </div>
          <!-- end counter-box -->
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->
  <section class="content-section dark-overlay" data-background="images/section-bg-01.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-bar">
            <h2>WHY CHOOSE US?</h2>
            <p>Geeks Logistics is an industry leader because we provide our clients with unparalleled customer service,
              accuracy and creative solutions to complex logistical challenges.</p>
            <a href="#quote" class="custom-button">Get A Quote</a> <a href="contact.html" class="light-button">Contact
              Us</a>
          </div>
          <!-- end cta-bar -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->
  <section id="quote" class="content-section no-bottom-spacing bottom-bg-half">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-left">
            <h2>Get Started with Geeks Logistics</h2>
            <h5>Our team will contact you to discuss pricing within 48 hours</h5>
          </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-12">
          <div class="calculator">
            <form action="sendQuote.php" method="GET" enctype="text/plain">
              <div class="row inner">
                <div class="form-group col-md-6">
                  <h5>Email *</h5>
                  <input type="email" name="email">
                </div>

                <!-- end form-group -->
                <div class="form-group col-md-6">
                  <h5>Phone *</h5>
                  <input type="text" name="phone">
                </div>

                <!-- end form-group -->
                <div class="form-group col-lg-6 col-md-6">
                  <h5>City *</h5>
                  <input type="text" name="city">
                </div>

                <!-- end form-group -->
                <div class="form-group col-lg-6 col-md-6">
                  <h5>Number Of Pallets *</h5>
                  <select name="pallets">
                    <option value="1-49">1-49</option>
                    <option value="50-99">50-99</option>
                    <option value="100-199">100-199</option>
                    <option value="200+">200+</option>
                    <optgroup label=""></optgroup>
                  </select>
                </div>

                <div>
                  <h5> Submit</h5>
                  <input type="submit" name="submit">
                </div>
              </div>
            </form>
            <!-- end row inner -->
          </div>
          <!-- end calculator -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->
  <section class="content-section bg-half">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="testimonials-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial">
                  <p>As a first time importer to West Africa, the process can be quite daunting.
                    Geeks Logistics has provided exceptional
                    service and support right through
                    the process.</p>
                  <h6>Steve Wole </h6>
                  <small>CEO, Tasty Gourmet</small>
                </div>
                <!-- end testimonial -->
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <div class="testimonial">
                  <p>Geeks Logistics has been beyond reliable, good customer support and great service too.</p>
                  <h6>Fred Lanter</h6>

                </div>
                <!-- end testimonial -->
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <div class="testimonial">
                  <p>There are companies that promise to do a great job and then there are companies that actually keep
                    that promise. Geeks Logistics has been an excellent partner and I credit a lot of our success to the
                    support that their TEAM provides. We value our relationship..</p>
                  <h6>Jack Abraham</h6>
                  <small>Director of Skyline Transports LLC</small>
                </div>
                <!-- end testimonial -->
              </div>
              <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            <div class="swiper-pagination"></div>
            <!-- end swiper-pagination -->
          </div>
          <!-- end testimonials-slider -->
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6 offset-lg-1">
          <div class="section-title">
            <h2>Trusted By Our Esteemed Partners World Over</h2>
          </div>
          <!-- end section-title -->
          <div class="row inner">
            <div class="col-6">
              <figure class="logo-item"> <img src="images/logo01.jpg" alt="Image"> </figure>
              <!-- end logo-item -->
            </div>
            <!-- end col-6 -->
            <div class="col-6">
              <figure class="logo-item"> <img src="images/logo02.jpg" alt="Image"> </figure>
              <!-- end logo-item -->
            </div>
            <!-- end col-6 -->
            <div class="col-6">
              <figure class="logo-item"> <img src="images/logo03.jpg" alt="Image"> </figure>
              <!-- end logo-item -->
            </div>
            <!-- end col-6 -->
            <div class="col-6">
              <figure class="logo-item"> <img src="images/logo04.jpg" alt="Image"> </figure>
              <!-- end logo-item -->
            </div>
            <!-- end col-6 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end col-6 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <!-- end col-4 -->
        <div class="col-12">
          <div class="footer-bottom"> <span>Copyright ©
              <script type="text/javascript">
                var year = new Date();
                document.write(year.getFullYear());
              </script> Geeks Logistics
            </span> <span>Site created
              by <a href="genesiskrane.online">Genesis Krane</a></span> </div>
          <!-- end footer-bottom -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </footer>
  <!-- end footer -->


  <!-- JS FILES -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/fancybox.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/odometer.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/moment.js"></script>

  <script src="js/script.js"></script>


</body>

</html>